# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Migration
# alembic.ini
# migrations/

# VSCode settings
.vscode/

# Log files
*.log

# Test outputs
coverage/
*.cover
*.pyc

# Python packaging
build/
dist/
*.egg-info/

# README related
deployment_guide.md
sql_dump.md
technical_portfolio.md